.osd-box {
    border-radius: 12px;
    padding: 6px;
    margin: 18px;
    background-color: rgba(240, 240, 240, 0.75);
}

.osd-box menubutton button {
    padding-left: 0;
    padding-right: 0;
}

.zoom-box {
    margin: 6px;
}