.osd-box {
    border-radius: 12px;
    padding: 6px;
    margin: 18px;
    background-color: rgba(240, 240, 240, 0.75);
}

.osd-box menubutton button {
    padding-left: 0;
    padding-right: 0;
}

.zoom-box {
    margin: 6px;
}

.zv_drag_overlay .overlay-status {
    color: #eb6030;
    background-color: alpha(#eb6030, 0.08);
    border: 2px dashed alpha(#eb6030, 0.35);
    border-radius: 2px;
    margin: 12px;
}
