.zv_image_view {
    min-width: 600px;
    min-height: 600px;
}

.osd-box {
    border-radius: 12px;
    padding: 6px;
    margin: 18px;
    background-color: rgba(0, 0, 0, 0.65);
}

.osd-box menubutton button {
    padding-left: 0;
    padding-right: 0;
}

.zoom-box {
    margin: 6px;
}